.git
.gitignore
.env
**/.env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.vscode
.idea
*.log
*.pot
.DS_Store
node_modules
.pytest_cache
.coverage
htmlcov
dist
build
*.egg-info
src/pipelines/logs
src/pipelines/plugins
src/pipelines/dags/__pycache__
